.footer-container {
    max-width: 278px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.image {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 1rem;
    margin-top: 1rem;

}