.inputs-container {
    display: flex;
    gap: 1rem;

}

.inputs-form {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-radius: 7px;
}

.input-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

.input-left input {
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ccced1;
    outline: burlywood;
    padding-left: 10px;
}

.input-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.input-right input {
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ccced1;
    outline: none;
    padding-left: 10px;
}

.select {
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ccced1;
    outline: none;
    padding-left: 5px;
}

.create-button {
    padding: 8px 14px;
    background-color: #198754;
    color: white;
    width: max-content;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
}

.create-button:hover {
    background-color: rgb(4, 121, 52);
    transition: background-color 0.3s ease;
}



@media screen and (max-width: 768px) {
    .inputs-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .input-left,
    .input-right {
        width: 100%;
    }

}