/* === BASE STYLES === */

.container-client-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: #0b0f13;
  width: 100%;
}

/* width */

.header-box{
  width: 18%;
}

.header-same-size{
  width: 42%;
  /* display: flex; */
}
.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.desktop-logo {
  display: block;
  object-fit: contain;

}

.mobile-logo {
  display: none;
  object-fit: contain;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.welcome-text {
  color: white;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.nav-wrapper {
  width: 35%;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-sections {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background-color: #ffffff;
  padding: 50px 20px;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
  display: flex;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: auto;
}

.nav-sections.open {
  transform: translateX(0);
}


.nav-sections button {
  padding: 6px 10px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  white-space: nowrap;
}

.nav-sections button:hover {
  background-color: #393942;
  color: #fff;
  transition: background-color 0.3s ease;
}

.sidebar-close{
  display: none;
}

.bar-image{
  display: none;
}

@media (max-width: 1340px) {
  .welcome-text {
    display: none;
  }

  .sidbar-image-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  /* .sidebar-close{
  display: block;
  cursor: pointer;
  font-size: 28px;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  padding: 4px 12px;

} */
/* .sidebar-close:hover{
  background-color: rgb(204, 200, 219);
  border-radius: 50%;
  transition: background-color 0.3s ease;
  
} */
.bar-image{
  display: block;
  object-fit: cover;
}

  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
  }

  .menu-toggle {
    display: block;
  }

    .nav-wrapper {
    width: 35%;
  }
}

@media (min-width: 1340px) {
  .nav-sections {
    display: flex !important;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    transform: none !important;
    background: none;
    box-shadow: none;
    padding: 0;
    gap: 10px;
    opacity: 1;
    pointer-events: auto;
  }

  .menu-toggle {
    display: none;
  }
}




