.read-more-container {
    border-radius: 1rem;
    height: max-content;
    margin-top: 1rem;
    padding: 2rem;
    background-color: #fafafa;


}

.read-more-hero {
    width: 100%;
    border-radius: 7px;
    cursor: pointer;

}

.read-more-hero:hover {
    background-color: rgb(3, 6, 99);
    color: white;
    transition: all 0.5s ease-in-out;

}

.read-more-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.read-more-content.open {
    max-height: 1500px;
    opacity: 1;
}